<div class="song-player col-md-12">
    <div class="row">
        <div class="player-control col-md-2">
            <div class="wrapper">
                <i onclick="Player.skipPrevious();" id="prev" class="icon-back"></i>
                <i onclick="Player.toggle();" class="icon-play-button"></i>
                <i onclick="Player.skipNext();" id="next" class="icon-next"></i>
            </div>
        </div>
        <div class="progress-container col-md-8">
            <div id="player-slider"></div>
        </div>
        <div class="volume-container col-md-2">
            <div id="volume-control" class="wrapper volume volume-control">
                <div id="player-volume"></div>
            </div>
            <i class="icon-speaker volume"></i>
        </div>
    </div>
</div>
