
<div class="main-logo col-md-2">
    <h1><a href="#"><img src="assets/img/sound-waves.png" alt=""></a></h1>
</div>
<div class="main-search col-md-4">
    <input type="search" name="" value="" placeholder="Find song or user">
</div>
<div class="main-menu col-md-5">
    <ul>
        <li>
            <a href="#">upload</a>
        </li>
        <li class="user-submenu">
            <a href="#">
                <span><img src="assets/img/avatar.png" alt=""></span>
                <span>Lukasz Radecki</span>
            </a>
        </li>
        <li>
            <a id="login-btn" href="#">Login / Rejestracja</a>
        </li>
    </ul>
</div>
