
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-md-8">
    <section class="row single-audio">
        <div class="col-md-4 col-sm-4 audio-avatar" style="background-image: url('assets/img/vendetta.jpg');">

        </div>
        <div class="col-md-7 col-sm-7">
            <div class="music-details">
                <button class="play-btn" title="Play"></button> <!--dynamic changing title-->
                <span class="song-owner"><a href="#">Baq Beatz</a></span>
            </div>
            <h1 class="song-title">Dawid Podsiadło - trojkaty i kwadraty</h1>
            <span class="elapsed-time">2 months</span>
        </div>
    </section>
</article>

