@model streaming_inż.Models.FileUpload

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("UploadSong", "Profile", FormMethod.Post,
    new {
        @enctype = "multipart/form-data",
        @class = "dropzone upload-song form-horizontal",
        @id = "dropzoneForm"
    }))
    {
        @Html.TextBoxFor(x => x.Title, new { @placeholder = "Tytuł utworu", @class = "form-control" })
        <label>Dodaj avatar utoru</label>
        @Html.TextBoxFor(x => x.Avatar, new { @name = "avatar", @type = "file" })
        <label>Dodaj utwór</label>
        @Html.TextBoxFor(x => x.Song, new { @name = "song", @type = "file" })
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
