@{
    Layout = null;
}

<main class="container">
    <div class="row">
        <header class="col-md-12 profile-header" style="background-image:url('assets/img/profile-header.jpg');">
            <div class="user-avatar">
                <img src="assets/img/vendetta.jpg" alt="">
            </div>
            <div>
                <h3 class="user-data">SoDrumatic</h3><br>
                <h3 class="user-data">Wojciech Rusinek</h3><br>
                <h4 class="user-data">Warsaw, Poland</h4>
            </div>
        </header>
        <article class="col-md-8">
            <section class="row single-audio">
                <div class="col-md-4 col-sm-4 audio-avatar" style="background-image: url('assets/img/vendetta.jpg');">

                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="music-details">
                        <button class="play-btn" title="Play"></button> <!--dynamic changing title-->
                        <span class="song-owner"><a href="#">Baq Beatz</a></span>
                    </div>
                    <h1 class="song-title">Dawid Podsiadło - trojkaty i kwadraty</h1>
                    <span class="elapsed-time">2 months</span>
                </div>
            </section>
        </article>
        <aside class="col-md-4"></aside>
    </div>
</main>
