$grey-p1: #585972;

ul {
    list-style: none;
}

a:hover,
a:focus,
a {
    text-decoration: none;
}

html {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Nunito';
    min-height: 100%;
    height: 100%;
}

fieldset {
    border: none !important;
    padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    outline: none !important;
}

.body-content {
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 6px;
}

.container-p1 {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 1.20em;
    box-shadow: 0 0 12px #000, 0 0 12px #000 inset;
}


body::-webkit-scrollbar-thumb {
  background: #fff;
  outline: 1px solid #2C3C46;
  box-shadow: 0 0 12px #000;
  border-radius: 12px;

  &:hover {
      box-shadow: 0 0 16px #000;
      opacity: .8;
      cursor: pointer;
  }
}

.field-validation-error {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.text-p1 {
    color: #fff;
}

.text-p2,
.text-p3 {
    color: $grey-p1;
}

input[type="file"],
label {
    color: #fff;
}

h1 {
    color: #fff;
}