ul {
  list-style: none; }

a:hover,
a:focus,
a {
  text-decoration: none; }

html {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: 'Nunito';
  min-height: 100%;
  height: 100%; }

fieldset {
  border: none !important;
  padding: 0 !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input,
textarea {
  box-sizing: border-box; }

button {
  background: none;
  border: none;
  outline: none !important; }

.body-content {
  margin-top: 50px;
  padding-bottom: 50px;
  border-radius: 6px; }

.container-p1 {
  overflow-y: scroll;
  position: fixed;
  width: 100%; }

body::-webkit-scrollbar {
  width: 1.20em;
  box-shadow: 0 0 12px #000, 0 0 12px #000 inset; }

body::-webkit-scrollbar-thumb {
  background: #fff;
  outline: 1px solid #2C3C46;
  box-shadow: 0 0 12px #000;
  border-radius: 12px; }
  body::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 16px #000;
    opacity: .8;
    cursor: pointer; }

.field-validation-error {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600; }

.text-p1 {
  color: #fff; }

.text-p2,
.text-p3 {
  color: #585972; }

input[type="file"],
label {
  color: #fff; }

h1 {
  color: #fff; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6ta7qr");
  src: url("../fonts/icomoon.eot?6ta7qr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6ta7qr") format("truetype"), url("../fonts/icomoon.woff?6ta7qr") format("woff"), url("../fonts/icomoon.svg?6ta7qr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  display: inline-block !important;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pause:before {
  content: "\e904"; }

.icon-speaker:before {
  content: "\e903"; }

.icon-next:before {
  content: "\e900"; }

.icon-back:before {
  content: "\e901"; }

.icon-play-button:before {
  content: "\e902"; }

input[type="radio"] {
  display: none !important; }
  input[type="radio"] + label {
    line-height: 15px;
    vertical-align: top;
    margin-right: 15px;
    transition: background ease-out .7; }
    input[type="radio"] + label > span {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #727272;
      background: #fff; }
  input[type="radio"]:checked + label > span {
    background: #727272;
    box-shadow: 0 0 6px #727272; }

input {
  margin-bottom: 15px; }

.play-btn {
  background-color: #448AFF;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none; }

.control {
  background: #585972;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer; }

.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
  transition-tiomig-function: cubic-bezier(1, 0, 0, 1); }

.control:before {
  content: "";
  height: 0; }

.control.pause .left,
.control.pause .right {
  margin: 0;
  border-left: 13px solid #fff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 32px; }

.control.pause .left {
  border-right: 6px solid transparent; }

.control.play .left {
  margin-left: 5px;
  border-left: 18px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 0 solid transparent;
  height: 32px; }

.control.play .right {
  margin: 0;
  border-left: 18px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  height: 0; }

.control:hover {
  border-color: #ccc; }

.control:hover .left,
.control:hover .right {
  border-left-color: #ccc; }

.btn {
  outline: none !important; }

.btn-p1 {
  border: 2px solid #fff;
  background: none;
  outline: none !important;
  color: #fff;
  display: block;
  border-radius: 50px;
  line-height: 32px;
  min-width: 50px;
  text-align: center;
  font-size: 15px;
  padding: 5px 32px; }

.btn-p2 {
  border: 1px solid #585972;
  background: none;
  color: #585972;
  margin-top: 7px; }

.upload-song {
  max-width: 500px;
  margin: 35px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px; }
  .upload-song .field-validation-error {
    color: #585972; }

.__center {
  text-align: center; }

.login-popup .form-control {
  margin: 15px auto; }

.login-popup .login-btn,
.login-popup .register-link {
  margin-top: 15px; }

.login-popup .register-link {
  float: right; }

header {
  font-family: Nunito;
  box-shadow: 0 0 6px #000; }
  header.main {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: -moz-linear-gradient(90deg, #2B3D48 100%, #384C5B 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(100%, 2B3D48), color-stop(100%, 384C5B));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #2B3D48 100%, #384C5B 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #2B3D48 100%, #384C5B 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #2B3D48 100%, #384C5B 100%);
    /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    /* for IE */
    background: linear-gradient(90deg, #2B3D48 100%, #384C5B 100%);
    /* W3C */
    color: #fff; }
    header.main input[type="search"] {
      font-size: 16px;
      padding: 8px 12px;
      border-radius: 4px;
      border: none;
      width: 100%;
      color: #fff;
      outline: none;
      margin-top: 10px; }
      header.main input[type="search"]:focus {
        outline: none; }

.menu-item > a {
  display: block;
  line-height: 54px;
  font-size: 17px;
  color: #fff;
  -moz-transition: color ease-in-out .3s;
  -o-transition: color ease-in-out .3s;
  -webkit-transition: color ease-in-out .3s;
  transition: color ease-in-out .3s; }
  .menu-item > a:after {
    content: "";
    background: #fff;
    display: block;
    height: 4px;
    width: 0%;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
  .menu-item > a:hover:after {
    width: 100%; }

.menu-item.text-p2 a:hover {
  color: #fff;
  text-shadow: 0 0 0; }

.main-menu > ul {
  margin: 0; }
  .main-menu > ul > li {
    display: inline-block;
    position: relative;
    padding: 0 10px; }

.main-search {
  height: 58px; }
  .main-search > input {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

.main-logo > h1 {
  margin: 0;
  display: inline-block;
  margin-left: 20px; }

.main-logo a {
  display: block;
  line-height: 58px; }

.main-logo img {
  vertical-align: baseline; }

.user-submenu {
  font-size: 17px; }
  .user-submenu .dropdown button {
    background: transparent;
    border: none; }
  .user-submenu button:hover .avatar {
    fill: #fff; }
  .user-submenu button:hover .user-name {
    color: #fff; }

.user-name {
  margin-left: 5px;
  transition: color ease-in-out .3s; }

.avatar {
  position: absolute;
  top: -8px;
  height: 35px;
  right: -36px;
  transition: fill ease-out .5s; }

.single-audio {
  display: inline-block;
  margin: 10px 0;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background: #1F2C34;
  color: #fff;
  padding-left: 0; }
  .single-audio .song-owner {
    display: block;
    line-height: 12px;
    padding: 10px 0; }
    .single-audio .song-owner > a {
      color: #fff !important; }
  .single-audio .song-title {
    margin-top: 0; }

.music-details {
  position: relative;
  margin-top: 15px; }

.audio-avatar {
  background-size: cover;
  height: 100%; }

.elapsed-time {
  background-color: #fff;
  color: #585972;
  border: none; }

.login {
  background: #2c3c46;
  top: 50%;
  margin: -.5em auto auto;
  max-width: 520px;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  color: #fff; }
  .login input[type="submit"] {
    float: right; }
  .login input[type="checkbox"] {
    margin-left: 5px;
    vertical-align: middle; }

.audio-container {
  margin: 30px 0; }

.song-player {
  background: #fff;
  box-shadow: 0 -1px 5px #585972;
  bottom: -60px;
  max-height: 110px;
  position: fixed;
  width: 100%;
  right: 0;
  transition: bottom ease-in-out .35s; }
  .song-player.show-extract {
    bottom: 0; }
  .song-player .player-control {
    float: left;
    height: 100%;
    display: inline-block; }
  .song-player .wrapper {
    width: 100%;
    text-align: center;
    margin-top: 1em; }
  .song-player [class^="icon-"] {
    font-size: 25px;
    color: #585972;
    padding: 0 5px;
    -moz-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s; }
    .song-player [class^="icon-"]:hover {
      cursor: pointer;
      color: #448AFF; }

.song-time {
  font-size: 15px;
  display: inline-block;
  height: 50px;
  line-height: 50px; }

.progress-container {
  display: inline-block;
  height: 100%;
  position: relative; }
  .progress-container .ui-slider {
    height: 4px;
    background: #585972;
    margin: 25px auto;
    position: relative; }
  .progress-container .ui-slider-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #585972;
    border-radius: 50%;
    top: -6px; }

.volume-container {
  display: inline-block;
  height: 100%;
  position: relative; }
  .volume-container .ui-slider {
    position: absolute;
    background: #585972;
    height: 120px;
    width: 4px;
    bottom: 18px;
    left: 50%; }
  .volume-container .ui-slider-handle {
    bottom: 100%;
    left: -6px;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #585972;
    border-radius: 50%; }
  .volume-container .wrapper {
    position: absolute;
    bottom: 50px;
    border: 1px solid #585972;
    border-bottom-color: transparent;
    background: #fff;
    height: 163px;
    width: 42px;
    opacity: 1; }
  .volume-container .icon-speaker {
    height: 50px;
    padding-top: 15px; }
  .volume-container .volume-control {
    display: none; }
    .volume-container .volume-control.active {
      display: block; }

.ui-autocomplete {
  background: #fff;
  box-shadow: 0 0 8px #B6B6B6;
  z-index: 10;
  font-size: 15px;
  overflow: hidden;
  width: 350px;
  padding-left: 0;
  border-radius: 6px !important; }
  .ui-autocomplete .ui-menu-item {
    padding: 10px;
    transition: all ease-in .3s; }
    .ui-autocomplete .ui-menu-item:hover {
      background: #ccc;
      cursor: pointer; }

.promotional-baners {
  min-height: 600px; }
  .promotional-baners .carousel-inner, .promotional-baners .carousel-inner .item {
    min-height: 500px; }
  .promotional-baners .carousel-inner .item-wrapper {
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px; }

.promo-p2 h1 {
  margin-top: 75px;
  font-weight: 600;
  text-align: center; }

.profile-header {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 290px; }
  .profile-header > div {
    display: inline-block; }
    .profile-header > div:nth-child(2) {
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      margin-left: 25px; }

.user-data {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 3px 6px;
  margin: 4px 0; }

.user-avatar {
  height: 248px;
  width: 248px;
  margin-top: 12px; }
  .user-avatar > img {
    border-radius: 50%;
    width: 100%;
    height: 100%; }

.registration-wrapper {
  text-align: center; }
  .registration-wrapper > form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto; }
    .registration-wrapper > form > fieldset {
      display: block; }
  .registration-wrapper input,
  .registration-wrapper select,
  .registration-wrapper option {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin: 12px 0;
    border-radius: 2px;
    border: 1px solid #B6B6B6;
    color: #727272; }
  .registration-wrapper label {
    color: #727272; }
  .registration-wrapper button[type="submit"] {
    background: #3F51B5;
    border: none;
    padding: 12px 72px;
    text-transform: uppercase;
    border-radius: 24px;
    color: #fff;
    display: block;
    margin: 25px auto;
    transition: box-shadow ease-in-out .3s; }
    .registration-wrapper button[type="submit"]:hover {
      box-shadow: 0 7px 26px #727272; }

.register-log {
  background-color: #3F51B5;
  padding: 25px 0; }
  .register-log > img {
    display: block;
    margin: 0 auto; }

main.main .promotional-baners {
  height: 100%;
  background-image: url("http://smoothstyle.ca/wp-content/uploads/2011/02/online-music-1.bmp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.main-headers {
  text-align: center;
  border-radius: 6px;
  margin-top: 120px;
  color: #212121;
  display: inline-block;
  padding: 12px 134px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: 0 50px 60px #000;
  font-weight: 400;
  margin-left: 50%;
  margin-top: 24%;
  transform: translate(-50%, -50%); }

