$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

header {
    font-family: Nunito;
    box-shadow: 0 0 6px #000;

    &.main {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        background: $primary-color-dark;
        padding: 8px 0;
        color: #fff;

        input[type="search"] {
            font-size: 16px;
            padding: 9px 12px;
            border-radius: 4px;
            border: none;
            width: 100%;
            color: $secondary-text-color;
            outline: none;

            &:focus {
                outline: none;
            }
        }

        a {
            display: block;
            line-height: 40px;
            font-size: 16px;
        }
    }
}

.main-menu {
    > ul {
        margin: 0;
       > li {
            display: inline-block;
            position: relative;
            padding: 0 5px;
        }
    }
}

.user-submenu {

}

.main-logo {
    > h1 {
        margin: 0;
        display: inline-block;
        margin-left: 20px;
    }
}