.single-audio {
    display: inline-block;
    margin: 10px 0;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    background: #1F2C34;
    color: #fff;
    padding-left: 0;
    box-shadow: 0 0 15px #000;

    .song-owner {
        display: inline-block;
        margin-left: 12px;
        line-height: 12px;
        top: 50%;
        margin-top: -.5em;
        position: absolute;
    }
}

.music-details {
    position: relative;
    margin-top: 15px;
}

.audio-avatar {
    background-size: cover;
    height: 100%;
}


