.single-audio {
    display: inline-block;
    margin: 10px 0;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    background: #1F2C34;
    color: #fff;
    padding-left: 0;

    .song-owner {
        display: block;
        line-height: 12px;
        padding: 10px 0;

        > a {
            color: #fff !important;
        }
    }

    .song-title {
        margin-top: 0;
    }
}

.music-details {
    position: relative;
    margin-top: 15px;
}

.audio-avatar {
    background-size: cover;
    height: 100%;
}

.elapsed-time {
    background-color: #fff;
    color: $grey-p1;
    border: none;
}


