@{
    ViewBag.Title = "Home Page";
}

<main class="main container-fluid" style="background-image: url('assets/img/main-background.jpg');">
    <div class="row">
        <div class="col-md-12">
            <section class="main-headers">
                <h1>Share your music. Find music.</h1>
                <h2>Everywhere.</h2>
            </section>
        </div>
    </div>
</main>