@{
    ViewBag.Title = "Home Page";
}

<main class="main">
    <div class="row">
        <div class="col-md-12">
            <section class="main-headers">
                <h1>Share your music. Find music.</h1>
                <h2>Everywhere.</h2>
            </section>
        </div>
    </div>
</main>