@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" src="../"/>
    <title></title>
</head>
<body>
    <header class="container-fluid main">
        <div class="row">
            <div class="main-logo col-md-2">
                <h1><a href="#"><img src="assets/img/sound-waves.png" alt=""></a></h1>
            </div>
            <div class="main-search col-md-4">
                <input type="search" name="" value="" placeholder="Find song or user">
            </div>
            <div class="main-menu col-md-5">
                <ul>
                    <li>
                        <a href="#">upload</a>
                    </li>
                    <li class="user-submenu">
                        <a href="#">
                            <span><img src="assets/img/avatar.png" alt=""></span>
                            <span>Lukasz Radecki</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main container-fluid" style="background-image: url('assets/img/main-background.jpg');">
        <div class="row">
            <div class="col-md-12">
                <section class="main-headers">
                    <h1>Share your music. Find music.</h1>
                    <h2>Everywhere.</h2>
                </section>
            </div>
        </div>
    </main>
</body>
</html>
