.play-btn {
    background-color: $accent-color;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
}

.control {
  background: $grey-p1;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
  transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
}
.control:before {
  content: "";
  height: 0;
}
.control.pause .left,
.control.pause .right {
  margin: 0;
  border-left: 13px solid #fff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 32px;
}
.control.pause .left {
  border-right: 6px solid transparent;
}
.control.play .left {
  margin-left: 5px;
  border-left: 18px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 0 solid transparent;
  height: 32px;
}
.control.play .right {
  margin: 0;
  border-left: 18px solid #fff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  height: 0;
}
.control:hover {
  border-color: #ccc;
}
.control:hover .left,
.control:hover .right {
  border-left-color: #ccc;
}

.btn {
    outline: none !important;
}

.btn-p1 {
  border: 2px solid #fff;
  background: none;
  outline: none !important;
  color: #fff;
  display: block;
  border-radius: 50px;
  line-height: 32px;
  min-width: 50px;
  text-align: center;
  font-size: 15px;
  padding: 5px 32px;
}

.btn-p2 {
    border: 1px solid $grey-p1;
    background: none;
    color: $grey-p1;
    margin-top: 7px;
}