.play-btn {
    background-color: $accent-color;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
}

.control {
  border: 5px solid $accent-color;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
  transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
}
.control:before {
  content: "";
  height: 0;
}
.control.pause .left,
.control.pause .right {
  margin: 0;
  border-left: 13px solid $accent-color;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 32px;
}
.control.pause .left {
  border-right: 6px solid transparent;
}
.control.play .left {
  margin-left: 0;
  border-left: 18px solid $accent-color;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 0 solid transparent;
  height: 32px;
}
.control.play .right {
  margin: 0;
  border-left: 18px solid $accent-color;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  height: 0;
}
.control:hover {
  border-color: $accent-color;
}
.control:hover .left,
.control:hover .right {
  border-left-color: $accent-color;
}

.btn-p1 {
  color: #fff;
  display: block;
  border-radius: 50px;
  line-height: 32px;
  min-width: 50px;
  text-align: center;
  font-size: 15px;
  border: none;
  padding: 5px 32px;

  background: -moz-linear-gradient(360deg, #4944CC 9%, #A187F7 65%);/* FF3.6+ */
  background: -webkit-gradient(linear, 360deg, color-stop(9%, 4944CC), color-stop(65%, A187F7));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(360deg, #4944CC 9%, #A187F7 65%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(360deg, #4944CC 9%, #A187F7 65%);/* Opera 11.10+ */
  background: -ms-linear-gradient(360deg, #4944CC 9%, #A187F7 65%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(360deg, #4944CC 9%, #A187F7 65%);/* W3C */
}